@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    --sb-track-color: #085a2500;
    --sb-thumb-color: #085a2500;
    --sb-size: 0px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
  :root {
    --background: 0 0% 0%;
    --foreground: 141.43 70% 92.16%;

    --primary: 141.41 75.51% 48.04%;
    --primary-foreground: 143.33 75% 4.71%;

    --card: 137.14 24.14% 5.69%;
    --card-foreground: 141.43 70% 92.16%;

    --popover: 0 0% 0%;
    --popover-foreground: 141.43 70% 92.16%;

    --secondary: 141.56 74.42% 16.86%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;

    --accent: 141.56 74.42% 16.86%;
    --accent-foreground: 141.43 70% 92.16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 141.08 75.51% 9.61%;
    --input: 142.11 18.81% 19.8%;
    --ring: 141.41 75.51% 48.04%;

    --chart-1: 141.41 75.51% 48.04%;
    --chart-2: 141.4 75.12% 40.98%;
    --chart-3: 141 75% 31.37%;
    --chart-4: 141.39 74.81% 26.47%;
    --chart-5: 141.43 76.36% 21.57%;

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
